**************************
# __ASSINGMENT 2__
**************************

<br>
<br>

#####  <font color=blue>BDAT1004_Data programming </font>
<br>
<br>
<br>
<br>
<br>
Submited by - Kartik Chopra
Id - 200556572




Submited To - Ethan davis

### Question 1

Consider the following Python module:
a = 0 <BR>
def b():<BR>
 global a <BR>
 a = c(a) <BR>
def c(a): <BR>
 return a + 2 <BR>
After importing the module into the interpreter, you execute: <BR>
b() <BR>
b() <BR>
b() <BR>
a <BR>
? <BR>
What value is displayed when the last expression (a) is evaluated? Explain your <BR>
answer by indicating what happens in every executed statement. <BR>

In [14]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [16]:
b()
b()
b()
a

6

Because its starting value is 0, "a" is used in both b and c. B() employs c(), which increases the values in a by 2. In this method, each time b and c are called, 2 is added to the value of an. Because "a" is a global variable, its value is changed globally each time b is invoked.

### Question 2

Function fileLength(), given to you, takes the name of a file as input and returns <br>
the length of the file:  <br>
>>> fileLength('midterm.py')  <br>
284  <br>
>>> fileLength('idterm.py') <br>
Traceback (most recent call last): <br>
File "<pyshell#34>", line 1, in <module> <br>
 fileLength('idterm.py') <br>
File "/Users/me/midterm.py", line 3, in fileLength <br>
 infile = open(filename) <br>
FileNotFoundError: [Errno 2] No such file or directory: <br>
'idterm.py' <br>
As shown above, if the file cannot be found by the interpreter or if it cannot be read <br>
as a text file, an exception will be raised. Modify function fileLength() so that a <br>
friendly message is printed instead: <br>
>>> fileLength('midterm.py') <br>
358 <br>
>>> fileLength('idterm.py') <br>
File idterm.py not found. <br>

In [18]:
def file_len(f):
    try:
        file = open(f, "r")
        contents = file.read()
        print('Given file length is: ' + str(len(contents)))
        file.close()
    except FileNotFoundError:
        print('File ' + f + ' not found')

In [23]:
file_len("Filelength.txt")

Given file length is: 123

In [24]:
file_len("filelength.py")

File filelength.py not found

Question 3
Write a class named Marsupial that can be used as shown below: <br>
>>> m = Marsupial() <br>
>>> m.put_in_pouch('doll') <br>
>>> m.put_in_pouch('firetruck') <br>
>>> m.put_in_pouch('kitten') <br>
>>> m.pouch_contents() <br>
['doll', 'firetruck', 'kitten'] <br>
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the <br>
attributes of Marsupial and also: <br>
a. extends the Marsupial __init__ constructor to take, as input, the <br>
coordinates x and y of the Kangaroo object, <br>
b. supports method jump that takes number values dx and dy as input and <br>
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and <br>
c. overloads the __str__ operator so it behaves as shown below. <br>
>>> k = Kangaroo(0,0) <br>
>>> print(k) <br>
I am a Kangaroo located at coordinates (0,0) <br>
>>> k.put_in_pouch('doll') <br>
>>> k.put_in_pouch('firetruck') <br>
>>> k.put_in_pouch('kitten') <br>
>>> k.pouch_contents() <br>
['doll', 'firetruck', 'kitten'] <br>
>>> k.jump(1,0) <br>
>>> k.jump(1,0) <br>
>>> k.jump(1,0) <br>
>>> print(k) <br>
I am a Kangaroo located at coordinates (3,0) <br>

In [27]:
class Marsupial:
    def __init__(self):
        self.pouch_items = []

    def put_in_pouch(self, item):
        self.pouch_items.append(item)

    def pouch_contents(self):
        return self.pouch_items


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x_coord = x
        self.y_coord = y

    def jump(self, dx, dy):
        self.x_coord += dx
        self.y_coord += dy

    def __str__(self):
        return f"I am a kangaroo located at coordinates ({self.x_coord}, {self.y_coord})"


m = Kangaroo(0, 0)
print(m)
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())
m.jump(1, 0)
m.jump(1, 0)
m.jump(1, 0)
print(m)

I am a kangaroo located at coordinates (0, 0)
['doll', 'firetruck', 'kitten']
I am a kangaroo located at coordinates (3, 0)

### Question 4
Write function collatz() that takes a positive integer x as input and prints the <br>
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying <br>
this rule to the previous number x in the sequence: <br>
x = { <br>
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐 <br>
3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬 <br>
Your function should stop when the sequence gets to number 1. Your <br>
implementation must be recursive, without any loops. <br>
>>> collatz(1) <br>
1 <br>
>>> collatz(10) <br>
10 <br>
5 <br>
16 <br>
8 <br>
4 <br>
2 <br>
1 <br>

In [28]:
def collatz(n):
    sequence = [int(n)]  # Initialize the sequence with the starting number
    
    if n != 1:
        if n % 2 != 0:
            sequence.extend(collatz(3 * n + 1))
        else:
            sequence.extend(collatz(n / 2))
    
    return sequence

# Testing the collatz function
print(collatz(1))
print(collatz(15))

[1]
[15, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]

### Question 5
Write a recursive method binary() that takes a non-negative <br>
integer n and prints the binary representation of integer n. <br>
>>> binary(0) <br>
0 <br>
>>> binary(1) <br>
1 <br>
>>> binary(3) <br>
11 <br>
>>> binary(9) <br>
1001 <br>

In [29]:
def binary(num):
    if num > 0:
        return (num % 2 + 10 * binary(int(num // 2)))
    else:
        return 0

In [30]:
binary(0)

0

In [31]:
binary(5)

101

In [32]:
binary(12)

1100

In [33]:
binary(9)

1001

### Question 6
Implement a class named HeadingParser that can be used to parse an HTML <br>
document, and retrieve and print all the headings in the document. You should <br>
implement your class as a subclass of HTMLParser, defined in Standard Library <br>
module html.parser. When fed a string containing HTML code, your class should <br>
print the headings, one per line and in the order in which they appear in the <br>
document. Each heading should be indented as follows: an h1 heading should have <br>
indentation 0, and h2 heading should have indentation 1, etc. Test your <br>
implementation using w3c.html. <br>
>>> infile = open('w3c.html') <br>
>>> content = infile.read() <br>
>>> infile.close() <br>
>>> hp = HeadingParser() <br>
>>> hp.feed(content) <br>
W3C Mission <br>
Principles <br>

In [38]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    headers = ['h3', 'h4', 'h5', 'h6']
    z = ""

    def handle_starttag(self, x, attrs):
        if x in self.headers:
            print(self.z + x)

    def handle_endtag(self, x):
        if x in self.headers:
            print(self.z + x)

    def handle_data(self, y):
        cleaned_data = y.strip()  # Remove leading/trailing spaces
        if cleaned_data:
            print(self.z + cleaned_data)

# Read the content of the 'w3c.html' file
with open('w3c.html', 'r') as file:
    content = file.read()

# Create an instance of the HeadingParser class
hp = HeadingParser()

# Parse the HTML content using the HeadingParser
hp.feed(content)

Change_me
W3C Mission
Principles

### Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and <br>
non-negative integers depth and indent. Your function should visit every web <br>
page reachable from the starting URL web page in depth clicks or less, and print <br>
each web page's URL. As shown below, indentation, specified by indent, should <br>
be used to indicate the depth of a URL. <br>

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html' <br>
, 2, 0) <br>
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html <br>
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html <br>
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html <br>
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html <br>
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html <br>

In [44]:
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen


class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, base_url):
        'initializes parser, the base_url, and a list'
        HTMLParser.__init__(self)
        self.base_url = base_url
        self.links = []

    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.base_url, attr[1])
                    if absolute[:4] == 'http':  # collect HTTP URLs
                        self.links.append(absolute)

    def get_links(self):
        'returns hyperlink URLs in their absolute format'
        return self.links


def webdir(base_url, depth, indent):
    if depth < 0:
        return
    print("\t" * indent + base_url)
    resource = urlopen(base_url)
    content = resource.read().decode()
    collector = Collector(base_url)
    collector.feed(content)
    found_urls = collector.get_links()

    for visit_url in found_urls:
        webdir(visit_url, depth - 1, indent + 1)

In [46]:
webdir("https://reed.cs.depaul.edu/lperkovic/test1.html",2,0)

https://reed.cs.depaul.edu/lperkovic/test1.html
	http://reed.cs.depaul.edu/lperkovic/test2.html
		http://reed.cs.depaul.edu/lperkovic/test4.html
	https://reed.cs.depaul.edu/lperkovic/test3.html
		https://reed.cs.depaul.edu/lperkovic/test4.html

### Question 8
Write SQL queries on the below database table that return <br>
a) All the temperature data. <br>
b) All the cities, but without repetition. <br>
c) All the records for India. <br>
d) All the Fall records. <br>
e) The city, country, and season for which the average rainfall is between 200 <br>
and 400 millimeters. <br>
f) The city and country for which the average Fall temperature is above 20 <br>
degrees, in increasing temperature order. <br>
g) The total annual rainfall for Cairo. <br>
h) The total rainfall for each season. <br>

In [17]:
import sqlite3

connection = sqlite3.connect('weather.db')
cursor = connection.cursor()

cursor.execute("CREATE TABLE weather (City text, Country text, Season text, Temperature dec, Rainfall dec)")

cursor.execute("INSERT INTO weather VALUES ('Banglore', 'India', 'Winter', 24.8, 5.9)")

cursor.execute("INSERT INTO weather VALUES ('Banglore', 'India', 'Spring', 28.4, 16.2)")

cursor.execute("INSERT INTO weather VALUES ('Banglore', 'India', 'Summer', 27.9, 1549.4)")

cursor.execute("INSERT INTO weather VALUES ('Banglore', 'India', 'Fall', 27.6, 346.0)")

cursor.execute("INSERT INTO weather VALUES ('Manchester', 'United Kingdom', 'Winter', 4.2, 207.7)")

cursor.execute("INSERT INTO weather VALUES ('Manchester', 'United Kingdom', 'Spring', 8.3, 169.6)")

cursor.execute("INSERT INTO weather VALUES ('Manchester', 'United Kingdom', 'Summer', 15.7, 157.0)")

cursor.execute("INSERT INTO weather VALUES ('Manchester', 'United Kingdom', 'Fall', 10.4, 218.5)")

cursor.execute("INSERT INTO weather VALUES ('Sahara', 'Africa', 'Winter', 13.6, 16.5)")

cursor.execute("INSERT INTO weather VALUES ('Sahara', 'Africa', 'Spring', 20.7, 6.5)")

cursor.execute("INSERT INTO weather VALUES ('Shara', 'Africa', 'Summer', 27.7, 0.1)")

cursor.execute("INSERT INTO weather VALUES ('Sahara', 'Africa', 'Fall', 22.2, 4.5)")

connection.commit()
connection.close()

In [18]:
import sqlite3

connection = sqlite3.connect('weather.db')
cursor = connection.cursor()

cursor.execute('SELECT Temperature FROM weather')

for record in cursor:
    print(record)

cursor.execute('SELECT DISTINCT City FROM weather')

for record in cursor:
    print(record)

cursor.execute('SELECT * FROM weather WHERE Season="Fall"')

for record in cursor:
    print(record)

cursor.execute('SELECT * FROM weather WHERE Country="India"')

for record in cursor:
    print(record)

cursor.execute('SELECT City, Country FROM weather WHERE (Season="Fall") AND (Temperature>20) ORDER BY Temperature DESC')

for record in cursor:
    print(record)

cursor.execute('SELECT City, Country, Season FROM weather WHERE (Rainfall>200) AND (Rainfall<400)')

for record in cursor:
    print(record)

cursor.execute('SELECT SUM(Rainfall) FROM weather WHERE City="Cairo"')

annual_rainfall = cursor.fetchall()
print(annual_rainfall)

cursor.execute('SELECT SUM(Rainfall), Season FROM weather GROUP BY Season')

for record in cursor:
    print(record)

connection.close()

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
('Banglore',)
('Manchester',)
('Sahara',)
('Shara',)
('Banglore', 'India', 'Fall', 27.6, 346)
('Manchester', 'United Kingdom', 'Fall', 10.4, 218.5)
('Sahara', 'Africa', 'Fall', 22.2, 4.5)
('Banglore', 'India', 'Winter', 24.8, 5.9)
('Banglore', 'India', 'Spring', 28.4, 16.2)
('Banglore', 'India', 'Summer', 27.9, 1549.4)
('Banglore', 'India', 'Fall', 27.6, 346)
('Banglore', 'India')
('Sahara', 'Africa')
('Banglore', 'India', 'Fall')
('Manchester', 'United Kingdom', 'Winter')
('Manchester', 'United Kingdom', 'Fall')
[(None,)]
(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(230.1, 'Winter')

### Question 9
. Suppose list words is defined as follows:  <br>
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', <br>
'the', 'lazy', 'dog'] <br>
Write list comprehension expressions that use list words and generate the following <br>
lists: <br>
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', <br>
'LAZY', 'DOG'] <br>
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', <br>
'lazy', 'dog'] <br>
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list <br>
words). <br>
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', <br>
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], <br>
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list <br>
words, where each list contains the word in uppercase and lowercase and the <br>
length of the word.) <br>
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', <br>
'lazy', 'dog'] (the list of words in list words containing 4 or more <br>
characters. <br>

In [49]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[a.upper() for a in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [50]:
[a.lower() for a in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [51]:
[len(a) for a in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [52]:
[[a.upper(),a.lower(),len(a)] for a in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [53]:
[a for a in words if len(a) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']